# Git
.git
.github
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment Files
.env
.env.*

# Test & Lint Cache
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Documentation
README.md

# Logs
*.log