POSTGRES_DB=library_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

DATABASE_URL=postgresql+psycopg://postgres:your_password@localhost:5433/library_db